# =====================================
# PYTHON
# =====================================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# ENV
# =====================================

.env

# =====================================
# DATABASE
# =====================================

*.db
telecom.db

# =====================================
# NODE
# =====================================

node_modules/
dist/

# =====================================
# VSCODE
# =====================================

.vscode/

# =====================================
# OS
# =====================================

.DS_Store